# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Docs
*.md
!README.md
CHANGELOG.md

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose*.yml
Dockerfile.dev
